@font-face {
  font-family: 'HYXuJingXingKaiW';
  src: url('./assets/fonts/HYXuJingXingKaiW.ttf') format('truetype');
}
@font-face {
  font-family: 'flower';
  src: url('./assets/fonts/flower-man.ttf') format('truetype');
}
@font-face {
  font-family: "fontHYQiHei";
  src: url('./assets/fonts/HYQiHei-60S.otf') format('opentype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}