@font-face {
  font-family: 'HYXuJingXingKaiW';
  src: url('./assets/fonts/HYXuJingXingKaiW.ttf') format('truetype');
}
@font-face {
  font-family: 'flower';
  src: url('./assets/fonts/flower-man.ttf') format('truetype');
}